/web/bundles/
/app/propel/
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/bower_components/
/node_modules/
/dist/

src/Clients/BurghliBundle/Resources/config/default_reversed_schema.xml
src/Clients/TurnKeyBundle/Resources/config/default_reversed_schema.xml

src/Clients/TurnKeyBundle/Model/map
src/Clients/TurnKeyBundle/Model/om
