<div class="team-page">
  <div class="page-title-row"><h1>Meet Our Team</h1></div>

  <div class="team-members">
    <div class="team-row">
      <tk-profile ng-if="team[0]" team-member="team[0]"></tk-profile>
      <tk-profile ng-if="team[1]" team-member="team[1]"></tk-profile>
      <tk-profile ng-if="team[2]" team-member="team[2]"></tk-profile>
    </div>
    <div class="team-row">
      <tk-profile ng-if="team[3]" team-member="team[3]"></tk-profile>
      <tk-profile ng-if="team[4]" team-member="team[4]"></tk-profile>
      <tk-profile ng-if="team[5]" team-member="team[5]"></tk-profile>
    </div>
  </div>
</div>