<div class="team-page">
  <div class="page-title-row"><h1>Meet Our Team</h1></div>

  <div class="team-members">
    <div class="team-row">
      <tk-profile ng-if="team[0]" person="team[0]"></tk-profile>
      <tk-profile ng-if="team[1]" person="team[1]"></tk-profile>
      <tk-profile ng-if="team[2]" person="team[2]"></tk-profile>
      <tk-profile ng-if="team[3]" person="team[3]"></tk-profile>
    </div>
    <div class="team-row">
      <tk-profile ng-if="team[4]" person="team[4]"></tk-profile>
      <tk-profile ng-if="team[5]" person="team[5]"></tk-profile>
      <tk-profile ng-if="team[6]" person="team[6]"></tk-profile>
      <tk-profile ng-if="team[7]" person="team[7]"></tk-profile>
    </div>
  </div>
</div>