.communities-page {
  .page-title-row {
    h1 {
      @media screen and (max-width: @screen-md-min) {
        font-size: 1.8em;
      }
    }
  }

  .communities-container {
    .container();

    .communities-row {
      .row();

      .communities-list {
        .make-xs-column(12);
        .make-md-column(4);
        .make-md-column-pull(8);

        ul {
          list-style-type: none;

          li {
            .burghliLargeText();
            color: @burghli-green;

            .community-list-marker {
              display: inline-block;
              min-width: 25px;
            }
          }
        }
      }

      .communities-map {
        .make-xs-column(12);
        .make-md-column(8);
        .make-md-column-push(4);

        text-align: center;

        @media screen and (max-width: @screen-md-min) {
          height: 320px;
        }

        .gm-style {
          .solidImageFrame();
        }

        .map-element {
          height: 500px;
          width: 500px;

          margin-left: auto;
          margin-right: auto;

          .angular-google-map-container {
            height: 500px;
          }

          @media screen and (max-width: @screen-md-min) {
            height: 300px;
            width: 300px;

            .angular-google-map-container {
              height: 300px;
            }
          }
        }
      }
    }
  }
}