.process-page {

  .process-container {
    .container();

    .process-step {
      .row();
      margin-top: 30px;
      border-bottom: solid black 2px;
      min-height: 70px;

      .step-description {
        .make-xs-column(12);
        .make-md-column(9);

        &.no-image {
          .make-md-column(12);
        }

        h2 {
          color: @burghli-green;
          margin-top: 0px;
        }

        .step-number {
          .numberCircle(black, @burghli-green, 60px, 8px, white);
          float: left;

          font-weight: bold;
          font-size: 2em;
          margin-right: 20px;
        }

        .step-text {
          .burghliMediumText();
        }
      }

      .step-image {
        .make-md-column(3);
        .make-xs-column(12);

        @media screen and (max-width: @screen-md-min) {
          margin-top: 15px;
          width: 100%;
          text-align: center;
        }

        img {
          width: 220px;
          margin-bottom: 20px;
          .solidImageFrame();
        }
      }
    }
  }
}