<div class="down-payment-assistance-page">
  <div class="page-title-row"><h1>Down Payment Assistance</h1></div>

  <tk-image-then-text-row data-image-src="/images/burghli/photos/family.jpg">
    A home buyer will be eligible for the program if the applicant / household is a homebuyer
    who will occupy the property as his/her principal residence during the affordability period. The
    homebuyer must be low-to-moderate income, defined for the purpose of this program as having
    a gross annual income that does not exceed 80% of the City's median income adjusted for
    family size, demonstrate the ability to obtain a mortgage loan and sustain ownership
    over the period of affordability.
  </tk-image-then-text-row>
</div>