<div class="solar-page">
  <div class="page-title-row"><h1>Solar Homes</h1></div>

  <div class="row">
    <div class="container">
      <p class="introduction">Burghli Homes has made a commitment to protecting the environment, improving quality life,
        and promoting sustainability. In order to fulfill this commitment, we have adopted a set of
        standards that allows us to present "Green" building without forcing excessive costs into the
        price of our homes. Burghli Homes has outlined the "Green Building" Features to explain
        possible ways to achieving "Green Building" goals.</p>
    </div>
  </div>


  <div class="on-site-section">
    <h2>On Site</h2>

    <div class="row">
      <div class="container">
        <div class="continue-on-site">
          Continue to build on site, where existing utilities and infrastructure is readily available. This would reduce the disruption
          of raw land and the need for new utilities from City.
        </div>

        <div class="on-site-points">
          <ul>
            <li>Preserve existing trees "By placing home onsite where a minimum number of trees will be cut down.</li>
            <li>Provide positive drainage during construction which is required by City of Houston code</li>
            <li>Mulch and chip vegetation and trees that have been cut, then use on site for landscaping.</li>
            <li>Use drought resistant plants and turf land</li>
            <li>Control erosion and sediment by installing slit fencing as needed during construction</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="insulation-section row">
    <div class="container">
      <div class="building-envelope">
        <h2>Building Envelope and Insulation</h2>

        <ul>
          <li>R-22 Envelope walls (R-19 fiberglass batts & R-3, 1/2 Foam Board)</li>
          <li>R-25 Ceiling Roof</li>
          <li>R-25 between floors</li>
          <li>R-35 Blown in the attic</li>
          <li>Poly seal all penetrations in envelope walls</li>
          <li>Double seal bottom plate on envelope walls between plate, floor and and between plate and sheathing.</li>
          <li>Make a common wall between garage and house air tight.</li>
          <li>Energy Star rated, insulated, Exterior Doors</li>
          <li>Energy star rated, Low-E, double pane, insulated windows</li>
          <li>1/2" Radiant barrier Tech shield for decking</li>
        </ul>
      </div>

      <div class="hvac">
        <h2>HVAC</h2>

        <ul>
          <li>Properly sized, RUUD, 18 Seer, Energy Star rated, condenser unit.</li>
          <li>Energy Star, High efficiency, gas furnace</li>
          <li>Energy Star, programmable thermostat</li>
          <li>Balanced and zoned returned air system</li>
          <li>Exhaust fans in bathrooms and utility rooms</li>
          <li>Solar powered attic fan</li>
          <li>Continuous vented Soffit</li>
          <li>Vented Range Hoods</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="conservation-section row">
    <div class="container">
      <div class="energy-saving-features">
        <h2>Energy Saving Features</h2>

        <ul>
          <li>Energy Star Fixtures</li>
          <li>Ceiling fans in all bedrooms</li>
          <li>CFL Light Bulbs throughout "Save up to 75%"</li>
          <li>Solar Motion Detector, photo sensor security light</li>
          <li>Solar attic fan</li>
          <li>Energy Star Programmable Thermostat</li>
          <li>Energy Star Dishwasher</li>
          <li>Motion Sensor light Switches</li>
          <li>Solar Tubes</li>
        </ul>
      </div>

      <div class="water">
        <h2>Water</h2>

        <ul>
          <li>Energy Star water saving dishwasher</li>
          <li>Tank less Water Heater "Natural Gas"</li>
          <li>Water Saving toilet 1.6 gal</li>
          <li>Water saving shower heads, 0.8 GPM</li>
          <li>Water Saving aerator on faucets</li>
          <li>home run water distribution System (Manifold)</li>
          <li>Insulated water pipes</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row eco-section">
    <div class="container">
      <div class="indoor-air-quality">
        <h2>Indoor Air Quality</h2>

        <ul>
          <li>Carbon Monoxide Detectors (1 per floor, per 1,000 sf)</li>
          <li>Low VOC paint</li>
          <li>Low VOC adhesive and caulking</li>
          <li>Low VOC carpet</li>
          <li>Ceramic tile in the kitchen, dinning, utility room and entry</li>
          <li>Exhaust Fans in bathrooms and utility room</li>
          <li>Vented range hood</li>
          <li>Sealed airtight common wall between living space and garage</li>
          <li>Fresh air supplies into returned air duct</li>
          <li>Balanced and zoned return air system to improve air circulation</li>
          <li>1" pleated paper filter for HVAC</li>
          <li>Seal Ducts during construction</li>
        </ul>
      </div>

      <div class="material-eco-friendly">
        <h2>Material Eco-Friendly</h2>

        <ul>
          <li>Lumber harvested with forest stewardship</li>
          <li>Value engineering to limit waste</li>
          <li>98% accurate take-offs to limit waste</li>
          <li>Limestone brick "Natural Product" that does not require energy or fuel to bake or mold</li>
          <li>Up to 40% fly ash in concrete mix to reduce the use of Portland cement</li>
        </ul>
      </div>
    </div>
  </div>

</div>