<div class="story-page">
  <div class="page-title-row"><h1>Our Story</h1></div>

  <tk-image-then-text-row data-image-src="/images/burghli/photos/fake/story_placeholder.jpg">
    Burghli Homes was founded by Zack Burghli, who has been working in the real estate/construction
    business since 1987. From starter homes to custom homes, Mr. Burghli prides himself on the
    quality of each and every home he builds. Rest assured, our craftsmanship and commitment
    to homebuilding perfection make Burghli Homes a trusted name to Houston homebuyers.
  </tk-image-then-text-row>

  <div class="section-title-row"><h1>Meet Some of Our Team Members</h1></div>

  team members
</div>