<div class="testimonials-page">
  <div class="page-title-row"><h1>Testimonials</h1></div>

  <div class="testimonials-content">
    <div class="testimonial-row" ng-repeat="testimonial in testimonials">
      <div class="testimonial-images">
        &nbsp;
      </div>
      <div ng-class="getDetailsContainerClass(testimonial)">
        <div class="testimonial-title">{{testimonial.Title}}</div>
        <div class="testimonial-text" ng-bind-html="testimonial.MainText | engTrustWithHtml"></div>
        <div class="testimonial-signature">-- {{testimonial.Signature}}</div>
      </div>
    </div>
  </div>
</div>