<div class="footer-content">
  <div class="copyright">
    <span>Copyright 2016 Burghli Homes</span>
    <div><a target="_blank" href="https://www.facebook.com/Burghli-Homes-124866414262423/?fref=ts"><span class="fa fa-facebook-square"></span></a></div>
  </div>
  <div class="associations">
    <img src="/images/burghli/associations.png" usemap="#associations-map">
    <map name="associations-map">
      <area shape="rect" coords="0,0,59,46" target="_blank" href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp" />
      <area shape="rect" coords="59,0,142,46" target="_blank" href="https://www.nahb.org/" />
      <area shape="rect" coords="142,0,221,46" target="_blank" href="http://www.ghba.org/" />
      <area shape="rect" coords="221,0,324,46" target="_blank" href="http://www.texasbuilders.org/" />
      <area shape="rect" coords="324,0,411,46" target="_blank" href="http://www.nahb.org/en/learn/designations/graduate-master-builder.aspx" />
    </map>
  </div>
</div>
<div class="row">
  <div class="container-fluid builder-professional">
    <span class="builder-professional">Technology Copyright 2016 Held and Site Powered by <a href="https://builderprofessional.com" target="_blank">Builder Professional</a></span>
  </div>
</div>